PORT=5000
NODE_ENV=development

# Database Configuration (Docker configuration default)
MONGODB_URI=mongodb://mongodb:27017/project_management?retryWrites=false
# Redis Cache Configuration (Docker configuration default)
REDIS_URL=redis://redis:6379

# CORS Configurations
CORS_ORIGIN=*

JWT_SECRET="your-jwt-secret"